/* style rules for the header section */

header {
    color: white;
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    background-color: #1F2937;
}

a {
    color: white;
}

.header-links {
    font-size: 18px;
    margin-right:100px;
    display:flex;
    gap: 30px;
}

.site-logo {
    margin-left:100px;
}

/* style rules for the hero section */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 100px;
    margin-top: 40px;
}

.hero-text h1, .hero-text p {
    margin: 0; /* Remove margin */
    margin-bottom: 10px; /* Add a small margin at the bottom for spacing */
}

.hero-text h1 {
    font-size: 48px;
    font-weight:bolder;
}

.hero-text p {
    font-size:18px
}

.hero-button, .call-to-action {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: auto; /* Ensure the button width fits its content */
    align-self: flex-start; /* Aligns the button to the left */
    margin-top: 10px; /* Add some space between the paragraph and the button */
}

.hero-section img {
    flex: 1;
    max-width: 100%;
    height: auto;
    margin-left: 80px;
}


/* style rules for the hero section */

.middle-section {
    display: flex;
    align-items:center;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    margin:auto;
    text-align:center;
    padding:30px;
}

.middle-section h2 {
    font-size:36px;
}

.gallery {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

figure {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:0;
}

figure img {
    max-width: 100%;
    height:auto;
}

figcaption {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

/* Style for Caption Section */
.quote-section {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
    padding: 50px;
    background-color: #E5E7EB;
}

.quote-text {
    max-width: 600px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1f2937;
}

#quote {
    text-align: right;
    margin-left:auto;
    font-size: 18px;
    margin-right: 20px;
}

/*Call to Action Styles*/
